@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Frank+Ruhl+Libre|Ubuntu+Mono&display=swap');

:root {
  --background-color:#222831;
  --heading-font: "Abril Fatface", serif;
  --text-font: "Frank Ruhl Libre", serif;
  --mono-font: "Ubuntu Mono", serif;
  --color-teal: #4FD1C5;
  --color-text: rgba(255, 255, 255, 0.92);
  --color-light-title:rgba(255, 255, 255, 0.64);
  --color-gray-text: rgba(255, 255, 255, 0.24);
  --nav-width:800px;
}

body {
  background-color:var(--background-color);
  margin:0;
  padding:0;
  color:var(--color-text);
}
/* Nav */
.top-bar {
  background-color: var(--background-color);
  padding-top:10px;
  font-family: var(--mono-font);
  height:fit-content;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-left:20px;
  padding-right:20px;
}
.top-bar .links {
  display:flex;
  justify-content: space-between;
  width:var(--nav-width);
  padding-top:5px;
  padding-bottom:5px;
  align-items: baseline;
  border-bottom: 2px white solid;
}
.top-bar .links .name {
  font-size:1.3rem;
  color:white;
  text-decoration: none;
  font-weight:550;
}
.top-bar .links .right-links {
  display:flex;
  gap:20px;
}
.top-bar .links .right-links a {
  color: var(--color-teal);
  text-decoration: none;
  font-weight: 100;
}
.top-bar .links .right-links a:hover {
  text-decoration: underline;
}
/* ---- */
.banner {
  margin-top: 20px;
}
.banner img {
  max-width: 100%;
  height:auto;
}

.content {
  margin-top:10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:1000px;
}
.brief-text {

  text-align: left;
  display:flex;
  justify-content: center;
  gap:20px;
}
.brief-text .text {
  font-family: var(--text-font);
  color: var(--color-text);
  font-size:1.125rem;
  line-height: 1.5;
  font-weight: 200;
}
.brief-text .text a {
  color: var(--color-teal);
}
.brief-text .blog-overview {
  padding:10px;
  width:650px;
}
.brief-text .blog-overview h2 {
  font-family: var(--heading-font);
  font-weight: 100;
  font-size:1.3rem;
  padding:0;
  margin:0;
  margin-bottom:-10px;
}

.blogpost-short {
  cursor:pointer;
  width:100%;
}
#loading-buffer {
  font-family: var(--text-font);
  color: var(--color-light-title);
}
.blogpost-short .title {
  color: var(--color-light-title);
  font-family: var(--text-font);
  font-size: 1.05rem;
}
.blogpost-short .title:hover {
  text-decoration: underline;
}
.blogpost-short .metadata {
  color: var(--color-gray-text);
  font-family: var(--mono-font);
  font-size: 0.95rem;
  margin-top:-17px;
}

/* BLOG */
.blog-content {
  width:var(--nav-width);
  text-align: left;
  margin-top: 20px;
}
.top-blog-header {
  width:var(--nav-width);
  text-align: left;
}
.top-blog-header h1 {
  font-family: var(--heading-font);
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
}
.top-blog-header p {
  font-family: var(--text-font);
  font-size: 1.125rem;
}
.blog-list {
  background: red;
}